#countdown {
    color: #333;
    margin: 0 auto;
    text-align: center;
    margin-top: 64px;
}

#countdown h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

#countdown li {
    width: 205px;
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    padding: 16px !important;
    border-radius: 50%;
    background: #000000;
    color: #ffffff;
}

#countdown li span.clock-time {
    width: 100%;
    display: block;
    font-size: 2.5rem;
}
#countdown li span.clock-label{
    width: 100%;
    display: block;
    font-size: .8rem;
}

#countdown.emoji {
    display: none;
    padding: 1rem;
}

#countdown.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    #countdown h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    #countdown li {
        font-size: calc(1.125rem * var(--smaller));
        width: 141px;
        display: inline-block;
        list-style-type: none;
        text-transform: uppercase;
        padding: 43px 3px;
        margin: 10px;
        border-radius: 50%;
        background: #000000;
        color: #ffffff;
        text-align: center;
    }

    #countdown li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}